<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container" style="background: antiquewhite;min-height: 700px">
    <h2  align="center" style="color: beige;background: black;padding-top: 20px;padding-bottom: 20px;opacity: 0.8;border-radius: 5px">Payment Details</h2>
    <div class="row">
        <div class="sidenav col-sm-3">
            <a href="/dashboard">Dashboard</a> <br/>
            <a href="/foods">Food Category</a> <br/>
            <a href="/cart">Cart</a> <br/>
            <a href="/placements">Placements</a> <br/>
            <a href="/logout">Logout</a> <br/>
        </div>
        <div class="col-sm-9">
        <div class="cart">
            <table class="table">
                <tr>
                    <th>Current Cart Total Items</th>
                    <td style="font-size: 1.5em;"><span th:text="${totalItem}"></span></td>
                </tr>
                <tr>
                    <th>Current Cart Total</th>
                    <td style="font-size: 1.5em;" ><span th:text="${totalCost}"></span> BDT</td>
                </tr>
            </table>
        </div>
        <div>
            <form action="#" th:action="@{/payment}" method="post" th:object="${placement}">
            <h2 align="center" style="color: beige;background: black;padding-top: 20px;padding-bottom: 20px;opacity: 0.8;border-radius: 5px">Customer Details</h2>
            <div class="customer">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{custName}" /><br/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Mobile</th>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{custMobile}" /><br/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>House</th>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{houseNo}" /><br/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Road</th>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{roadNo}" /><br/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>District</th>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" th:field="*{district}" /><br/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>CartID</th>
                        <td>
                            <div class="form-group">
                                <input type="text" readonly class="form-control" th:field="*{cartId}" /><br/>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <h2 align="center" style="color: beige;background: black;padding-top: 20px;padding-bottom: 20px;opacity: 0.8;border-radius: 5px">Payment Info</h2>
                <table class="table">
                    <tr>
                        <th>Method</th>
                        <td style="font-size: 1.5em;">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="0" th:field="*{paymentMethod}" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Cash on Delivery
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="1" th:field="*{paymentMethod}">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Online Payment
                                </label>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        </div>
    </div>
</div>
 </body>
<style>
    @import url('https://fonts.googleapis.com/css?family=Numans');

    body{
        background-image: url('https://images.ctfassets.net/f60q1anpxzid/4CVAq7cQlAtV8F1excEvhf/c266c3fe06b17092e9205dab5df7341e/LT_SEO_PeopleFoodsForCats_Head__1_.jpg?fm=jpg&fl=progressive&q=50&w=1200');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
    }
</style>
</html>